.home-page-header-row {
  margin-top: 10%;
}

.home-page-header {
  text-align: center;
  font-size: 44px;
  font-family: "Permanent Marker", cursive;
}

.how-to-play-row {
  text-align: center;
  margin-top: 10%;
}

.how-to-play-button {
  margin: 0 10px;
  font-size: 24px;
  font-family: "Permanent Marker", cursive;
}

.click-to-play-row {
  margin-top: 10%;
  font-size: 20px;
  font-family: "Permanent Marker", cursive;
}

.click-to-play-link {
  font-size: 24px;
  font-family: "Permanent Marker", cursive;
}
