.results-page {
  height: 600px;
}

.results-page-body {
  text-align: center;
  justify-content: center;
  margin-top: 20%;
  font-size: 30px;
}

.results-header {
  text-align: center;
  font-size: 32px;
}

.accordian-item {
  width: 100%;
}

.accordian-body-original {
  text-align: center;
  font-size: 16px;
  background-color: #00d8ffff;
  color: white;
}

.accordian-body-your {
  text-align: center;
  font-size: 16px;
  background-color: #ffa500ff;
  color: white;
}

.user-input {
  text-align: center;
  font-size: 18px;
}
