.results-page {
  display: grid;
  justify-content: center;
  height: 600px;
}

.results-page-header {
  text-align: center;
  margin-top: 20%;
  font-size: 45px;
}

.results-page-body {
  text-align: center;
  justify-content: center;
  margin-top: 20%;
  font-size: 30px;
}

.results-header {
  text-align: center;
  border: 1px solid black;
  font-size: 36px;
}

.original-scuttlebutt {
  text-align: center;
  font-size: 18px;
}

.user-input {
  text-align: center;
  font-size: 18px;
}