.welcome-page-header {
    text-align: center;
    margin-top: 20%;
    font-size: 45px;
    font-family: "Permanent Marker", cursive;
}

.welcome-page-body {
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
}