.footer {
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.footer p {
  margin: 5px 0;
}
